@import "tailwindcss";

:root {
    font-family: "Inter", sans-serif;
}

/* Home */

/* Explore */

@media (min-width: 1600px) {
    .container__wikis {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .register__container {
        height: 100svh;
    }
}

/* Form album */

.name__music {
    display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
}

.background__form {
    background-image: url(./assets/background__primary.png);
}