@import "tailwindcss";

:root {
    font-family: "Inter", sans-serif;
}

/* Home */

/* Explore */

@media (min-width: 1600px) {
    .container__wikis {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .register__container {
        height: 100svh;
    }
}
